.version.design /* version checker */
{
	color: #0000F2;
	background-color: #FA3331;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Futura-Thin_5';
	src: url('../fonts/futura-thin.eot');
	src: local('☺'), url('../fonts/futura-thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

#page
{
	margin-left: auto;
	margin-right: auto;
	background-image: none;
	width: 100%;
	background-color: #F5F5F5;
	border-color: #000000;
	z-index: 1;
	border-width: 0px;
}

#u25470-3
{
	background-color: #000000;
	min-height: 62px;
	z-index: 3;
}

#u25470-3-bw
{
	min-height: 62px;
	z-index: 3;
}

#u5652
{
	left: 20px;
	margin-right: -10000px;
	position: relative;
	z-index: 98;
	height: 36px;
}

#pamphletu5653
{
	margin-left: 100%;
	width: 0.01px;
	margin-right: -10000px;
	position: relative;
	z-index: 99;
}

#u5658
{
	position: absolute;
}

#u5658popup
{
	z-index: 100;
}

#u5659
{
	z-index: 101;
}

#u5660
{
	margin-right: -10000px;
	position: relative;
	z-index: 102;
}

#u5662-4
{
	position: relative;
	margin-right: -10000px;
	min-height: 7px;
	z-index: 103;
}

#u5662-4:hover
{
	padding-top: 0px;
	min-height: 7px;
	margin-bottom: 0px;
	margin-right: -10000px;
	padding-bottom: 0px;
	margin-top: 0px;
}

#u5661-4
{
	position: relative;
	width: 85px;
	margin-right: -10000px;
	min-height: 7px;
	z-index: 107;
}

#u5661-4:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	width: 85px;
	margin-right: -10000px;
	min-height: 7px;
	padding-bottom: 0px;
}

#u5663-4
{
	position: relative;
	margin-right: -10000px;
	z-index: 111;
}

#u5663-4:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	margin-right: -10000px;
	padding-bottom: 0px;
	margin-top: 0px;
}

#u5664
{
	width: 21px;
	margin-right: -10000px;
	position: relative;
	z-index: 115;
}

#u5665
{
	width: 21px;
	position: absolute;
	height: 21px;
}

#u5665.PamphletThumbSelected
{
	width: 21px;
	min-height: 0px;
	height: 21px;
	margin: 0px;
}

#u25612
{
	background-color: transparent;
	position: relative;
	z-index: 117;
	margin-right: -10000px;
	min-height: 14px;
	border-color: transparent;
	margin-top: 21px;
	border-width: 0px;
}

#u25607
{
	background-color: transparent;
	position: relative;
	z-index: 120;
	margin-right: -10000px;
	min-height: 14px;
	border-color: transparent;
	margin-top: 21px;
	border-width: 0px;
}

#u25602
{
	background-color: transparent;
	position: relative;
	z-index: 119;
	margin-right: -10000px;
	min-height: 14px;
	border-color: transparent;
	margin-top: 21px;
	border-width: 0px;
}

#u25592
{
	background-color: transparent;
	position: relative;
	z-index: 118;
	margin-right: -10000px;
	min-height: 14px;
	border-color: transparent;
	margin-top: 21px;
	border-width: 0px;
}

#u25597
{
	background-color: transparent;
	position: relative;
	z-index: 121;
	margin-right: -10000px;
	min-height: 14px;
	border-color: transparent;
	margin-top: 21px;
	border-width: 0px;
}

#u25527
{
	margin-right: -10000px;
	border-radius: 200px;
	background-color: #000000;
	position: relative;
	z-index: 122;
	height: 81px;
}

#u25530
{
	margin-right: -10000px;
	border-radius: 200px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 124;
	height: 81px;
}

#u25533
{
	margin-right: -10000px;
	border-radius: 200px;
	background-color: #FA4146;
	position: relative;
	z-index: 126;
	height: 81px;
}

#pu25546-4
{
	margin-top: 40px;
	width: 100%;
}

#u25546-4
{
	font-weight: 100;
	background-color: transparent;
	min-height: 32px;
	z-index: 22;
	text-align: center;
	margin-right: -10000px;
	position: relative;
	font-family: '__Futura-Thin_5';
}

#u25543-4
{
	font-weight: 100;
	background-color: transparent;
	min-height: 32px;
	z-index: 14;
	text-align: center;
	margin-right: -10000px;
	position: relative;
	font-family: '__Futura-Thin_5';
}

#u25536-4
{
	font-weight: 100;
	background-color: transparent;
	min-height: 32px;
	z-index: 6;
	text-align: center;
	margin-right: -10000px;
	position: relative;
	font-family: '__Futura-Thin_5';
}

#u25549
{
	margin-right: -10000px;
	border-radius: 200px;
	background-color: #58C2B4;
	position: relative;
	z-index: 123;
	height: 81px;
}

#u25552
{
	margin-right: -10000px;
	border-radius: 200px;
	background-color: #A89A33;
	position: relative;
	z-index: 125;
	height: 81px;
}

#u25561
{
	margin-right: -10000px;
	border-radius: 200px;
	background-color: #E8E8E8;
	position: relative;
	z-index: 127;
	height: 81px;
}

#u25558-4
{
	font-weight: 100;
	background-color: transparent;
	min-height: 32px;
	z-index: 26;
	text-align: center;
	margin-right: -10000px;
	position: relative;
	font-family: '__Futura-Thin_5';
}

#u25555-4
{
	font-weight: 100;
	background-color: transparent;
	min-height: 32px;
	z-index: 18;
	text-align: center;
	margin-right: -10000px;
	position: relative;
	font-family: '__Futura-Thin_5';
}

#u25564-4
{
	font-weight: 100;
	background-color: transparent;
	min-height: 32px;
	z-index: 10;
	text-align: center;
	margin-right: -10000px;
	position: relative;
	font-family: '__Futura-Thin_5';
}

#u28351-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 58px;
	text-align: center;
	font-weight: 500;
	background-color: transparent;
	font-size: 48px;
	z-index: 34;
}

#u28351-4-bw
{
	min-height: 49px;
	z-index: 34;
}

#u28354-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 43px;
	text-align: center;
	font-weight: 500;
	background-color: transparent;
	font-size: 36px;
	z-index: 58;
}

#u28354-4-bw
{
	min-height: 49px;
	z-index: 58;
}

#u28357-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 29px;
	text-align: center;
	font-weight: 500;
	background-color: transparent;
	font-size: 24px;
	z-index: 46;
}

#u28357-4-bw
{
	min-height: 49px;
	z-index: 46;
	margin-top: 11px;
}

#u28360-4
{
	min-height: 49px;
	text-align: center;
	font-weight: 500;
	background-color: transparent;
	font-family: futura-pt, sans-serif;
	z-index: 70;
}

#u28360-4-bw
{
	min-height: 49px;
	z-index: 70;
	margin-top: 6px;
}

#u28363-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 14px;
	text-align: center;
	font-weight: 500;
	background-color: transparent;
	font-size: 12px;
	z-index: 86;
}

#u28363-4-bw
{
	margin-bottom: -5px;
	min-height: 49px;
	z-index: 86;
	margin-top: -5px;
}

#u25680-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 58px;
	text-align: center;
	font-weight: 400;
	background-color: transparent;
	font-size: 48px;
	z-index: 30;
}

#u25680-4-bw
{
	min-height: 49px;
	z-index: 30;
}

#u25683-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 43px;
	text-align: center;
	font-weight: 400;
	background-color: transparent;
	font-size: 36px;
	z-index: 54;
}

#u25683-4-bw
{
	min-height: 49px;
	z-index: 54;
	margin-top: 17px;
}

#u25686-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 29px;
	text-align: center;
	font-weight: 400;
	background-color: transparent;
	font-size: 24px;
	z-index: 42;
}

#u25686-4-bw
{
	min-height: 49px;
	z-index: 42;
	margin-top: 11px;
}

#u25689-4
{
	min-height: 49px;
	text-align: center;
	font-weight: 400;
	background-color: transparent;
	font-family: futura-pt, sans-serif;
	z-index: 66;
}

#u25689-4-bw
{
	min-height: 49px;
	z-index: 66;
	margin-top: 6px;
}

#u25692-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 14px;
	text-align: center;
	font-weight: 400;
	background-color: transparent;
	font-size: 12px;
	z-index: 82;
}

#u25692-4-bw
{
	margin-bottom: -5px;
	min-height: 49px;
	z-index: 82;
	margin-top: -5px;
}

#u25723-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 58px;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
	font-size: 48px;
	z-index: 38;
}

#u25723-4-bw
{
	min-height: 49px;
	z-index: 38;
	margin-top: 102px;
}

#u25726-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 43px;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
	font-size: 36px;
	z-index: 62;
}

#u25726-4-bw
{
	min-height: 49px;
	z-index: 62;
	margin-top: 17px;
}

#u25729-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 29px;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
	font-size: 24px;
	z-index: 50;
}

#u25729-4-bw
{
	min-height: 49px;
	z-index: 50;
	margin-top: 11px;
}

#u25732-4
{
	min-height: 49px;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
	font-family: futura-pt, sans-serif;
	z-index: 74;
}

#u25732-4-bw
{
	min-height: 49px;
	z-index: 74;
	margin-top: 6px;
}

#u25735-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 14px;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
	font-size: 12px;
	z-index: 90;
}

#u25735-4-bw
{
	margin-bottom: -5px;
	min-height: 49px;
	z-index: 90;
	margin-top: -5px;
}

#page_position_content,#pu25470-3,#pu25612,#pu25549,#pu25558-4,#pu3323
{
	width: 100%;
}

#u3323,#u3323-bw
{
	z-index: 2;
}

#u25716-4
{
	min-height: 49px;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
	font-family: futura-pt, sans-serif;
	z-index: 78;
}

#u25716-4-bw
{
	min-height: 49px;
	z-index: 78;
}

#u25719-4
{
	font-family: futura-pt, sans-serif;
	min-height: 49px;
	line-height: 14px;
	text-align: center;
	font-weight: 300;
	background-color: transparent;
	font-size: 12px;
	z-index: 94;
}

#u25719-4-bw
{
	min-height: 49px;
	z-index: 94;
}

.html
{
	background-color: #F5F5F5;
}

body
{
	position: relative;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1971.7000000000003px;
		padding-bottom: 0px;
		max-width: 1200px;
	}

	#page_position_content
	{
		margin-top: -1px;
		margin-bottom: -1438px;
	}

	#u25470-3-bw
	{
		margin-top: 1px;
	}

	#u5652
	{
		width: 197px;
		margin-top: 15px;
	}

	#pamphletu5653
	{
		height: 45px;
		padding-bottom: 16px;
		left: -1081px;
	}

	#u5658
	{
		width: 1079px;
	}

	#u5659
	{
		width: 1079px;
		height: 61px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		width: 347px;
		margin-top: 24px;
		margin-left: 50%;
		left: 134px;
	}

	#u5662-4
	{
		width: 95px;
		margin-left: 50%;
		left: -174px;
	}

	#u5662-4:hover
	{
		width: 95px;
		margin-left: 50%;
		left: -174px;
	}

	#u5661-4
	{
		margin-left: 50%;
		left: -60px;
	}

	#u5661-4:hover
	{
		margin-top: 0px;
		margin-left: 50%;
		left: -60px;
	}

	#u5663-4
	{
		width: 127px;
		min-height: 15px;
		margin-left: 50%;
		left: 46px;
	}

	#u5663-4:hover
	{
		min-height: 15px;
		width: 127px;
		margin-left: 50%;
		left: 46px;
	}

	#u5664
	{
		margin-top: 24px;
		left: 1034px;
	}

	#pu25612
	{
		margin-top: 42px;
	}

	#u25612
	{
		width: 2.34%;
		left: 3%;
	}

	#u25607
	{
		width: 2.34%;
		left: 8.5%;
	}

	#u25602
	{
		width: 2.34%;
		left: 12.25%;
	}

	#u25592
	{
		width: 2.34%;
		left: 17.84%;
	}

	#u25597
	{
		width: 2.34%;
		left: 22.09%;
	}

	#pu25549
	{
		margin-top: 108px;
	}

	#u25527,#u25549
	{
		width: 6.75%;
		left: 37.92%;
	}

	#u25530,#u25552
	{
		width: 6.75%;
		left: 46.92%;
	}

	#pu25558-4
	{
		margin-top: 14px;
	}

	#u25546-4,#u25558-4
	{
		width: 6.75%;
		left: 38.09%;
	}

	#u25543-4,#u25555-4
	{
		width: 6.75%;
		left: 46.84%;
	}

	#u25533,#u25536-4,#u25561,#u25564-4
	{
		width: 6.75%;
		left: 55.75%;
	}

	#u28351-4-bw
	{
		margin-top: 78px;
	}

	#u28354-4-bw
	{
		margin-top: 17px;
	}

	#u25680-4-bw
	{
		margin-top: 74px;
	}

	#pu3323
	{
		margin-top: 369px;
	}

	#u3323,#u3323-bw
	{
		height: 1445px;
	}

	#u25716-4-bw
	{
		margin-top: 77px;
	}

	#u25719-4-bw
	{
		margin-top: 121px;
	}

	body
	{
		padding-bottom: 1416px;
	}
}

@media (min-width: 769px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 1971.550000000002px;
		padding-bottom: 0px;
		max-width: 960px;
	}

	#page_position_content
	{
		margin-bottom: -966px;
	}

	#u5652
	{
		width: 181px;
		margin-top: 15px;
	}

	#pamphletu5653
	{
		height: 45px;
		padding-bottom: 17px;
		left: -961px;
	}

	#u5658
	{
		width: 961px;
	}

	#u5659
	{
		width: 961px;
		height: 62px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		width: 347px;
		margin-top: 24px;
		margin-left: 50%;
		left: 85px;
	}

	#u5662-4
	{
		width: 115px;
		margin-left: 50%;
		left: -174px;
	}

	#u5662-4:hover
	{
		width: 115px;
		margin-left: 50%;
		left: -174px;
	}

	#u5661-4
	{
		margin-left: 50%;
		left: -55px;
	}

	#u5661-4:hover
	{
		margin-top: 0px;
		margin-left: 50%;
		left: -55px;
	}

	#u5663-4
	{
		width: 114px;
		min-height: 7px;
		margin-left: 50%;
		left: 59px;
	}

	#u5663-4:hover
	{
		min-height: 7px;
		width: 114px;
		margin-left: 50%;
		left: 59px;
	}

	#u5664
	{
		margin-top: 24px;
		left: 916px;
	}

	#pu25612
	{
		margin-top: 43px;
	}

	#u25612
	{
		width: 2.3%;
		left: 3.03%;
	}

	#u25607
	{
		width: 2.3%;
		left: 8.55%;
	}

	#u25602
	{
		width: 2.3%;
		left: 12.3%;
	}

	#u25592
	{
		width: 2.3%;
		left: 17.82%;
	}

	#u25597
	{
		width: 2.3%;
		left: 22.09%;
	}

	#pu25549
	{
		margin-top: 108px;
	}

	#u25527,#u25549
	{
		width: 6.78%;
		left: 37.92%;
	}

	#pu25558-4
	{
		margin-top: 14px;
	}

	#u25546-4,#u25558-4
	{
		width: 6.78%;
		left: 38.13%;
	}

	#u25530,#u25543-4,#u25552,#u25555-4
	{
		width: 6.78%;
		left: 46.88%;
	}

	#u25533,#u25536-4,#u25561,#u25564-4
	{
		width: 6.78%;
		left: 55.73%;
	}

	#u28351-4-bw
	{
		margin-top: 77px;
	}

	#u28354-4-bw
	{
		margin-top: 18px;
	}

	#u25680-4-bw
	{
		margin-top: 73px;
	}

	#pu3323
	{
		margin-top: 365px;
	}

	#u3323,#u3323-bw
	{
		height: 978px;
	}

	#u25716-4-bw
	{
		margin-top: 82px;
	}

	#u25719-4-bw
	{
		margin-top: 126px;
	}

	body
	{
		padding-bottom: 960px;
	}
}

@media (min-width: 551px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 1972px;
		max-width: 768px;
	}

	#page_position_content
	{
		margin-bottom: -866px;
	}

	#u5652
	{
		width: 157px;
		margin-top: 14px;
	}

	#pamphletu5653
	{
		height: 21px;
		padding-bottom: 76px;
		margin-top: 22px;
		left: -768px;
	}

	#u5658
	{
		width: 768px;
		top: 38px;
	}

	#u5659
	{
		width: 768px;
		height: 59px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		width: 298px;
		margin-top: 26px;
		margin-left: 100%;
		left: -319px;
	}

	#pu5662-4
	{
		margin-right: -10000px;
		width: 64.43%;
		margin-left: 35.58%;
	}

	#u5662-4
	{
		width: 115px;
		margin-left: 100%;
		left: -298px;
	}

	#u5662-4:hover
	{
		width: 115px;
		margin-left: 100%;
		left: -298px;
	}

	#u5661-4
	{
		margin-left: 100%;
		left: -191px;
	}

	#u5661-4:hover
	{
		margin-top: 0px;
		margin-left: 100%;
		left: -191px;
	}

	#u5663-4
	{
		width: 89px;
		min-height: 7px;
		margin-left: 100%;
		left: -90px;
	}

	#u5663-4:hover
	{
		min-height: 7px;
		width: 89px;
		margin-left: 100%;
		left: -90px;
	}

	#u5664
	{
		left: 723px;
	}

	#pu25612
	{
		margin-top: -14px;
	}

	#u25612
	{
		width: 2.35%;
		left: 3%;
	}

	#u25607
	{
		width: 2.35%;
		left: 8.47%;
	}

	#u25602
	{
		width: 2.35%;
		left: 12.24%;
	}

	#u25592
	{
		width: 2.35%;
		left: 17.84%;
	}

	#u25597
	{
		width: 2.35%;
		left: 22.01%;
	}

	#pu25549
	{
		margin-top: 107px;
	}

	#u25527,#u25549
	{
		width: 6.78%;
		left: 37.9%;
	}

	#pu25558-4
	{
		margin-top: 15px;
	}

	#u25546-4,#u25558-4
	{
		width: 6.78%;
		left: 38.16%;
	}

	#u25530,#u25543-4,#u25552,#u25555-4
	{
		width: 6.78%;
		left: 46.88%;
	}

	#u25533,#u25536-4,#u25561,#u25564-4
	{
		width: 6.78%;
		left: 55.73%;
	}

	#u28351-4-bw
	{
		margin-top: 77px;
	}

	#u28354-4-bw
	{
		margin-top: 17px;
	}

	#u25680-4-bw
	{
		margin-top: 74px;
	}

	#pu3323
	{
		margin-top: 369px;
	}

	#u3323,#u3323-bw
	{
		height: 874px;
	}

	#u25716-4-bw
	{
		margin-top: 78px;
	}

	#u25719-4-bw
	{
		margin-top: 122px;
	}

	body
	{
		padding-bottom: 840px;
	}
}

@media (min-width: 321px) and (max-width: 550px)
{
	#muse_css_mq
	{
		background-color: #000226;
	}

	#bp_550.active
	{
		display: block;
	}

	#page
	{
		min-height: 1972px;
		max-width: 550px;
	}

	#page_position_content
	{
		margin-bottom: -870px;
	}

	#u5652
	{
		width: 154px;
		margin-top: 15px;
	}

	#pamphletu5653
	{
		height: 21px;
		padding-bottom: 56px;
		margin-top: 23px;
		left: -550px;
	}

	#u5658
	{
		width: 550px;
		top: 37px;
	}

	#u5659
	{
		width: 550px;
		height: 40px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		width: 298px;
		margin-top: 14px;
		margin-left: 100%;
		left: -323px;
	}

	#pu5662-4
	{
		margin-right: -10000px;
		width: 63.76%;
		margin-left: 36.25%;
	}

	#u5662-4
	{
		width: 115px;
		margin-left: 100%;
		left: -298px;
	}

	#u5662-4:hover
	{
		width: 115px;
		margin-left: 100%;
		left: -298px;
	}

	#u5661-4
	{
		margin-left: 100%;
		left: -193px;
	}

	#u5661-4:hover
	{
		margin-top: 0px;
		margin-left: 100%;
		left: -193px;
	}

	#u5663-4
	{
		width: 89px;
		min-height: 7px;
		margin-left: 100%;
		left: -90px;
	}

	#u5663-4:hover
	{
		min-height: 7px;
		width: 89px;
		margin-left: 100%;
		left: -90px;
	}

	#u5664
	{
		left: 495px;
	}

	#pu25612
	{
		margin-top: 5px;
	}

	#u25612
	{
		width: 2.37%;
		left: 3.1%;
	}

	#u25607
	{
		width: 2.37%;
		left: 8.55%;
	}

	#u25602
	{
		width: 2.37%;
		left: 12.19%;
	}

	#u25592
	{
		width: 2.37%;
		left: 17.82%;
	}

	#u25597
	{
		width: 2.37%;
		left: 22%;
	}

	#pu25549
	{
		margin-top: 107px;
	}

	#u25527,#u25549
	{
		width: 6.73%;
		left: 37.82%;
	}

	#pu25558-4
	{
		margin-top: 15px;
	}

	#u25546-4,#u25558-4
	{
		width: 6.73%;
		left: 38.19%;
	}

	#u25530,#u25543-4,#u25552,#u25555-4
	{
		width: 6.73%;
		left: 46.91%;
	}

	#u25533,#u25536-4,#u25561,#u25564-4
	{
		width: 6.73%;
		left: 55.82%;
	}

	#u28351-4-bw
	{
		margin-top: 73px;
	}

	#u28354-4-bw
	{
		margin-top: 17px;
	}

	#pu3323
	{
		margin-top: 373px;
	}

	#u3323,#u3323-bw
	{
		height: 874px;
	}

	#u25680-4-bw,#u25716-4-bw
	{
		margin-top: 74px;
	}

	#u25719-4-bw
	{
		margin-top: 118px;
	}

	body
	{
		padding-bottom: 852px;
	}
}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 1971.6000000000004px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#page_position_content
	{
		margin-bottom: -686px;
	}

	#u5652
	{
		width: 159px;
		margin-top: 14px;
	}

	#pamphletu5653
	{
		height: 21px;
		padding-bottom: 56px;
		margin-top: 23px;
		left: -320px;
	}

	#u5658
	{
		width: 320px;
		padding-bottom: 40px;
		top: 37px;
	}

	#u5659
	{
		width: 320px;
		height: 40px;
		position: fixed;
		top: 60px;
		left: 50%;
		margin-left: -160px;
	}

	#u5660
	{
		width: 298px;
		margin-top: 14px;
		left: 11px;
	}

	#pu5662-4
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u5662-4
	{
		width: 115px;
	}

	#u5662-4:hover
	{
		margin-left: 0px;
		width: 115px;
	}

	#u5661-4
	{
		margin-top: 1px;
		left: 107px;
	}

	#u5661-4:hover
	{
		margin-left: 0px;
		margin-top: 1px;
	}

	#u5663-4
	{
		width: 89px;
		min-height: 7px;
		left: 208px;
	}

	#u5663-4:hover
	{
		margin-left: 0px;
		min-height: 7px;
		width: 89px;
	}

	#u5664
	{
		left: 275px;
	}

	#pu25612
	{
		margin-top: 5px;
	}

	#u25612
	{
		width: 2.19%;
		left: 3.13%;
	}

	#u25607
	{
		width: 2.19%;
		left: 8.44%;
	}

	#u25602
	{
		width: 2.19%;
		left: 12.19%;
	}

	#u25592
	{
		width: 2.19%;
		left: 17.82%;
	}

	#u25597
	{
		width: 2.19%;
		left: 22.19%;
	}

	#pu25549
	{
		margin-top: 107px;
	}

	#u25527,#u25549
	{
		width: 6.88%;
		left: 37.82%;
	}

	#pu25558-4
	{
		margin-top: 15px;
	}

	#u25546-4,#u25558-4
	{
		width: 6.88%;
		left: 38.13%;
	}

	#u25530,#u25543-4,#u25552,#u25555-4
	{
		width: 6.88%;
		left: 46.88%;
	}

	#u25533,#u25536-4,#u25561,#u25564-4
	{
		width: 6.88%;
		left: 55.63%;
	}

	#u28351-4-bw
	{
		margin-top: 39px;
	}

	#u28354-4-bw
	{
		margin-top: 17px;
	}

	#u25680-4-bw
	{
		margin-top: 74px;
	}

	#pu3323
	{
		margin-top: 128px;
	}

	#u3323,#u3323-bw
	{
		height: 687px;
	}

	#u25716-4-bw
	{
		margin-top: 319px;
	}

	#u25719-4-bw
	{
		margin-top: 363px;
	}

	body
	{
		min-width: 320px;
		padding-bottom: 672px;
	}
}

