.version.teen /* version checker */
{
	color: #0000FA;
	background-color: #7018AF;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@media (min-width: 961px)
{
	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		min-height: 547.75px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		padding-bottom: 0px;
		width: 100%;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		margin-top: -76px;
		margin-bottom: -1437px;
		width: 100%;
	}

	#u21174
	{
		z-index: 24;
		width: 30px;
		min-height: 30px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-left: 103.76%;
	}

	#pu9341
	{
		margin-top: 45px;
		width: 100%;
	}

	#u9341
	{
		z-index: 3;
		min-height: 50px;
		background-color: #000000;
		padding-bottom: 12px;
	}

	#u9341_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 1200px;
	}

	#u5652
	{
		z-index: 4;
		width: 197px;
		height: 36px;
		position: relative;
		margin-right: -10000px;
		margin-top: 14px;
		left: 20px;
	}

	#u9341-bw
	{
		z-index: 3;
		min-height: 50px;
		margin-top: 1px;
	}

	#pamphletu5653
	{
		z-index: 5;
		width: 0.01px;
		height: 45px;
		padding-bottom: 16px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -1081px;
	}

	#u5658
	{
		position: absolute;
		width: 1079px;
	}

	#u5658popup
	{
		z-index: 6;
	}

	#u5659
	{
		z-index: 7;
		width: 1079px;
		height: 61px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		z-index: 8;
		width: 347px;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		margin-left: 50%;
		left: 134px;
	}

	#u5662-4
	{
		z-index: 9;
		width: 95px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -174px;
	}

	#u5662-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 95px;
		left: -174px;
		margin: 0px -10000px 0px 50%;
	}

	#u5661-4
	{
		z-index: 13;
		width: 85px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -60px;
	}

	#u5661-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 85px;
		left: -60px;
		margin: 0px -10000px 0px 50%;
	}

	#u5663-4
	{
		z-index: 17;
		width: 127px;
		min-height: 15px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: 46px;
	}

	#u5663-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 15px;
		width: 127px;
		left: 46px;
		margin: 0px -10000px 0px 50%;
	}

	#u5664
	{
		z-index: 21;
		width: 21px;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		left: 1034px;
	}

	#u5665
	{
		position: absolute;
		width: 21px;
		height: 21px;
	}

	#u5665.PamphletThumbSelected
	{
		width: 21px;
		height: 21px;
		min-height: 0px;
		margin: 0px;
	}

	#pu22992-6
	{
		margin-top: 83px;
		width: 100%;
	}

	#u22992-6
	{
		z-index: 36;
		min-height: 278px;
		background-color: #000000;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		color: #FFFFFF;
		text-align: center;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 56.67%;
		margin-left: 21.67%;
		left: 0px;
	}

	#u22992-2
	{
		font-size: 36px;
		line-height: 43px;
		padding-top: 60px;
	}

	#u22992-4
	{
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 3px;
		padding-top: 10px;
	}

	#u22994
	{
		z-index: 42;
		width: 154px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 187px;
		left: 43.59%;
	}

	#u22995-4
	{
		z-index: 43;
		width: 154px;
		min-height: 43px;
		color: #FFFFFF;
		line-height: 14px;
		text-align: center;
		font-size: 12px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
	}

	.NEW2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #FD3F40;
	}

	#u22995-2
	{
		padding-top: 13px;
	}

	#u22991-9
	{
		z-index: 25;
		min-height: 657px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 2px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
	}

	#u22991-5
	{
		font-size: 1px;
		line-height: 0px;
	}

	#u23083
	{
		margin-top: 56px;
		margin-bottom: -56px;
	}

	#u23077
	{
		z-index: 34;
		width: 527px;
		min-height: 313px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u22991-9-bw
	{
		z-index: 25;
		min-height: 657px;
		margin-top: 66px;
	}

	#u9399
	{
		z-index: 23;
		width: 700px;
		min-height: 433px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-top: 69px;
		position: relative;
		margin-left: 20.84%;
	}

	#u3323
	{
		z-index: 2;
		height: 1445px;
	}

	#u3323-bw
	{
		z-index: 2;
		margin-top: 84px;
		height: 1445px;
	}

	#muse_css_mq,.html
	{
		background-color: #FFFFFF;
	}

	body
	{
		position: relative;
		padding-bottom: 1416px;
	}
}

@media (min-width: 769px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		min-height: 500px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		width: 100%;
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		margin-top: -76px;
		margin-bottom: -966px;
		width: 100%;
	}

	#u21174
	{
		z-index: 24;
		width: 30px;
		min-height: 30px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-left: 103.76%;
	}

	#pamphletu5653
	{
		z-index: 5;
		width: 0.01px;
		height: 45px;
		padding-bottom: 17px;
		margin-top: 45px;
		position: relative;
		margin-left: 100%;
		left: -961px;
	}

	#u5658
	{
		position: absolute;
		width: 961px;
	}

	#u5658popup
	{
		z-index: 6;
	}

	#u5659
	{
		z-index: 7;
		width: 961px;
		height: 62px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		z-index: 8;
		width: 347px;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		margin-left: 50%;
		left: 85px;
	}

	#u5662-4
	{
		z-index: 9;
		width: 115px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -174px;
	}

	#u5662-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 115px;
		left: -174px;
		margin: 0px -10000px 0px 50%;
	}

	#u5661-4
	{
		z-index: 13;
		width: 85px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -55px;
	}

	#u5661-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 85px;
		left: -55px;
		margin: 0px -10000px 0px 50%;
	}

	#u5663-4
	{
		z-index: 17;
		width: 114px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: 59px;
	}

	#u5663-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 114px;
		left: 59px;
		margin: 0px -10000px 0px 50%;
	}

	#u5664
	{
		z-index: 21;
		width: 21px;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		left: 916px;
	}

	#u5665
	{
		position: absolute;
		width: 21px;
		height: 21px;
	}

	#u5665.PamphletThumbSelected
	{
		width: 21px;
		height: 21px;
		min-height: 0px;
		margin: 0px;
	}

	#u9341
	{
		z-index: 3;
		min-height: 51px;
		background-color: #000000;
		padding-bottom: 11px;
	}

	#u9341_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 960px;
		margin-bottom: -61px;
	}

	#u5652
	{
		z-index: 4;
		width: 181px;
		height: 36px;
		position: relative;
		margin-right: -10000px;
		margin-top: 15px;
		left: 20px;
	}

	#u9341-bw
	{
		z-index: 3;
		min-height: 51px;
		margin-top: -61px;
	}

	#pu22992-6
	{
		margin-top: 83px;
		width: 100%;
	}

	#u22992-6
	{
		z-index: 36;
		min-height: 278px;
		background-color: #000000;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		color: #FFFFFF;
		text-align: center;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 56.67%;
		margin-left: 21.67%;
		left: 0px;
	}

	#u22992-2
	{
		font-size: 36px;
		line-height: 43px;
		padding-top: 60px;
	}

	#u22992-4
	{
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 3px;
		padding-top: 10px;
	}

	#u22994
	{
		z-index: 42;
		width: 154px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 187px;
		left: 43.55%;
	}

	#u22995-4
	{
		z-index: 43;
		width: 154px;
		min-height: 43px;
		color: #FFFFFF;
		line-height: 14px;
		text-align: center;
		font-size: 12px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
	}

	.NEW2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #FD3F40;
	}

	#u22995-2
	{
		padding-top: 13px;
	}

	#u22991-9
	{
		z-index: 25;
		min-height: 657px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 2px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
	}

	#u22991-5
	{
		font-size: 1px;
		line-height: 0px;
	}

	#u23083
	{
		margin-top: 56px;
		margin-bottom: -56px;
	}

	#u23077
	{
		z-index: 34;
		width: 527px;
		min-height: 313px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u22991-9-bw
	{
		z-index: 25;
		min-height: 657px;
		margin-top: 66px;
	}

	#u9399
	{
		z-index: 23;
		width: 700px;
		min-height: 433px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-top: 69px;
		position: relative;
		margin-left: 20.84%;
	}

	#u3323
	{
		z-index: 2;
		height: 978px;
	}

	#u3323-bw
	{
		z-index: 2;
		margin-top: 50px;
		height: 978px;
	}

	.html
	{
		background-color: #FFFFFF;
	}

	body
	{
		position: relative;
		padding-bottom: 960px;
	}
}

@media (min-width: 601px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		min-height: 500px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		width: 100%;
		max-width: 768px;
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		margin-top: -76px;
		margin-bottom: -866px;
		width: 100%;
	}

	#u21174
	{
		z-index: 24;
		width: 30px;
		min-height: 30px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-left: 103.78%;
	}

	#pu9341
	{
		margin-top: 46px;
		width: 100%;
	}

	#u9341
	{
		z-index: 3;
		min-height: 50px;
		background-color: #000000;
		padding-bottom: 12px;
	}

	#u9341_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 768px;
	}

	#u5652
	{
		z-index: 4;
		width: 157px;
		height: 36px;
		position: relative;
		margin-right: -10000px;
		margin-top: 14px;
		left: 20px;
	}

	#u9341-bw
	{
		z-index: 3;
		min-height: 50px;
	}

	#pamphletu5653
	{
		z-index: 5;
		width: 0.01px;
		height: 21px;
		padding-bottom: 76px;
		position: relative;
		margin-right: -10000px;
		margin-top: 22px;
		margin-left: 100%;
		left: -768px;
	}

	#u5658
	{
		position: absolute;
		width: 768px;
		top: 38px;
	}

	#u5658popup
	{
		z-index: 6;
	}

	#u5659
	{
		z-index: 7;
		width: 768px;
		height: 59px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		z-index: 8;
		width: 298px;
		position: relative;
		margin-right: -10000px;
		margin-top: 26px;
		margin-left: 100%;
		left: -319px;
	}

	#pu5662-4
	{
		margin-right: -10000px;
		width: 64.43%;
		margin-left: 35.58%;
	}

	#u5662-4
	{
		z-index: 9;
		width: 115px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -298px;
	}

	#u5662-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 115px;
		left: -298px;
		margin: 0px -10000px 0px 100%;
	}

	#u5661-4
	{
		z-index: 13;
		width: 85px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -191px;
	}

	#u5661-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 85px;
		left: -191px;
		margin: 0px -10000px 0px 100%;
	}

	#u5663-4
	{
		z-index: 17;
		width: 89px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -90px;
	}

	#u5663-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 89px;
		left: -90px;
		margin: 0px -10000px 0px 100%;
	}

	#u5664
	{
		z-index: 21;
		width: 21px;
		position: relative;
		margin-right: -10000px;
		left: 723px;
	}

	#u5665
	{
		position: absolute;
		width: 21px;
		height: 21px;
	}

	#u5665.PamphletThumbSelected
	{
		width: 21px;
		height: 21px;
		min-height: 0px;
		margin: 0px;
	}

	#pu22992-6
	{
		margin-top: 26px;
		width: 100%;
	}

	#u22992-6
	{
		z-index: 36;
		min-height: 278px;
		background-color: #000000;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		color: #FFFFFF;
		text-align: center;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 56.65%;
		margin-left: 21.68%;
		left: -1px;
	}

	#u22992-2
	{
		font-size: 36px;
		line-height: 43px;
		padding-top: 60px;
	}

	#u22992-4
	{
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 3px;
		padding-top: 10px;
	}

	#u22994
	{
		z-index: 42;
		width: 154px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 187px;
		left: 43.62%;
	}

	#u22995-4
	{
		z-index: 43;
		width: 154px;
		min-height: 43px;
		color: #FFFFFF;
		line-height: 14px;
		text-align: center;
		font-size: 12px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
	}

	.NEW2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #FD3F40;
	}

	#u22995-2
	{
		padding-top: 13px;
	}

	#u22991-9
	{
		z-index: 25;
		min-height: 657px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 2px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
	}

	#u22991-5
	{
		font-size: 1px;
		line-height: 0px;
	}

	#u23083
	{
		margin-top: 56px;
		margin-bottom: -56px;
	}

	#u23077
	{
		z-index: 34;
		width: 527px;
		min-height: 313px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u22991-9-bw
	{
		z-index: 25;
		min-height: 657px;
		margin-top: 66px;
	}

	#u9399
	{
		z-index: 23;
		width: 700px;
		min-height: 433px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		margin-top: 69px;
		position: relative;
		margin-left: 20.84%;
	}

	#u3323
	{
		z-index: 2;
		height: 874px;
	}

	#u3323-bw
	{
		z-index: 2;
		margin-top: 54px;
		height: 874px;
	}

	.html
	{
		background-color: #FFFFFF;
	}

	body
	{
		position: relative;
		padding-bottom: 840px;
	}
}

@media (min-width: 551px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		min-height: 499.9000000000001px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		padding-bottom: 0px;
		width: 100%;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		margin-top: -99px;
		margin-bottom: -866px;
		width: 100%;
	}

	#u21174
	{
		z-index: 24;
		width: 30px;
		min-height: 30px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		left: -7.5%;
	}

	#pu9341
	{
		margin-top: 69px;
		width: 100%;
	}

	#u9341
	{
		z-index: 3;
		min-height: 50px;
		background-color: #000000;
		padding-bottom: 12px;
	}

	#u9341_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 600px;
	}

	#u5652
	{
		z-index: 4;
		width: 157px;
		height: 36px;
		position: relative;
		margin-right: -10000px;
		margin-top: 14px;
		left: 20px;
	}

	#u9341-bw
	{
		z-index: 3;
		min-height: 50px;
	}

	#pamphletu5653
	{
		z-index: 5;
		width: 0.01px;
		height: 21px;
		padding-bottom: 76px;
		position: relative;
		margin-right: -10000px;
		margin-top: 22px;
		margin-left: 100%;
		left: -768px;
	}

	#u5658
	{
		position: absolute;
		width: 768px;
		top: 38px;
	}

	#u5658popup
	{
		z-index: 6;
	}

	#u5659
	{
		z-index: 7;
		width: 768px;
		height: 59px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		z-index: 8;
		width: 298px;
		position: relative;
		margin-right: -10000px;
		margin-top: 26px;
		margin-left: 100%;
		left: -319px;
	}

	#pu5662-4
	{
		margin-right: -10000px;
		width: 64.43%;
		margin-left: 35.58%;
	}

	#u5662-4
	{
		z-index: 9;
		width: 115px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -298px;
	}

	#u5662-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 115px;
		left: -298px;
		margin: 0px -10000px 0px 100%;
	}

	#u5661-4
	{
		z-index: 13;
		width: 85px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -191px;
	}

	#u5661-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 85px;
		left: -191px;
		margin: 0px -10000px 0px 100%;
	}

	#u5663-4
	{
		z-index: 17;
		width: 89px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -90px;
	}

	#u5663-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 89px;
		left: -90px;
		margin: 0px -10000px 0px 100%;
	}

	#u5664
	{
		z-index: 21;
		width: 21px;
		position: relative;
		margin-right: -10000px;
		left: 723px;
	}

	#u5665
	{
		position: absolute;
		width: 21px;
		height: 21px;
	}

	#u5665.PamphletThumbSelected
	{
		width: 21px;
		height: 21px;
		min-height: 0px;
		margin: 0px;
	}

	#pu22992-6
	{
		margin-top: 88px;
		width: 100%;
	}

	#u22992-6
	{
		z-index: 36;
		min-height: 265px;
		background-color: #000000;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		color: #FFFFFF;
		text-align: center;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 69.67%;
		margin-left: 15.17%;
		left: 10px;
	}

	#u22992-2
	{
		font-size: 36px;
		line-height: 43px;
		padding-top: 60px;
	}

	#u22992-4
	{
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 3px;
		padding-top: 10px;
	}

	#u22994
	{
		z-index: 42;
		width: 141px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 168px;
		left: 51.84%;
	}

	#u22995-4
	{
		z-index: 43;
		width: 141px;
		min-height: 47px;
		color: #FFFFFF;
		line-height: 14px;
		text-align: center;
		font-size: 12px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
	}

	.NEW2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #FD3F40;
	}

	#u22995-2
	{
		padding-top: 13px;
	}

	#pu9399
	{
		margin-top: 161px;
		width: 100%;
	}

	#u9399
	{
		z-index: 23;
		width: 580px;
		min-height: 433px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 291px;
		left: 2%;
	}

	#u22991-9
	{
		z-index: 25;
		min-height: 79px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 2px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 56.67%;
		left: 40.84%;
	}

	#u22991-5
	{
		font-size: 1px;
		line-height: 0px;
	}

	#u23083
	{
		margin-top: 56px;
		margin-bottom: -56px;
	}

	#u23077
	{
		z-index: 34;
		width: 652px;
		min-height: 467px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u3323
	{
		z-index: 2;
		height: 874px;
	}

	#u3323-bw
	{
		z-index: 2;
		margin-top: 54px;
		height: 874px;
	}

	.html
	{
		background-color: #FFFFFF;
	}

	body
	{
		position: relative;
		padding-bottom: 840px;
	}
}

@media (min-width: 321px) and (max-width: 550px)
{
	#muse_css_mq
	{
		background-color: #000226;
	}

	#bp_550.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		min-height: 539.9000000000001px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		padding-bottom: 0px;
		width: 100%;
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		margin-top: -99px;
		margin-bottom: -870px;
		width: 100%;
	}

	#u21174
	{
		z-index: 24;
		width: 30px;
		min-height: 30px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		left: -7.46%;
	}

	#pu9341
	{
		margin-top: 69px;
		width: 100%;
	}

	#u9341
	{
		z-index: 3;
		min-height: 51px;
		background-color: #000000;
		padding-bottom: 11px;
	}

	#u9341_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 550px;
	}

	#u5652
	{
		z-index: 4;
		width: 154px;
		height: 36px;
		position: relative;
		margin-right: -10000px;
		margin-top: 15px;
		left: 20px;
	}

	#u9341-bw
	{
		z-index: 3;
		min-height: 51px;
	}

	#pamphletu5653
	{
		z-index: 5;
		width: 0.01px;
		height: 21px;
		padding-bottom: 56px;
		position: relative;
		margin-right: -10000px;
		margin-top: 23px;
		margin-left: 100%;
		left: -550px;
	}

	#u5658
	{
		position: absolute;
		width: 550px;
		top: 37px;
	}

	#u5658popup
	{
		z-index: 6;
	}

	#u5659
	{
		z-index: 7;
		width: 550px;
		height: 40px;
		position: relative;
		margin-right: -10000px;
	}

	#u5660
	{
		z-index: 8;
		width: 298px;
		position: relative;
		margin-right: -10000px;
		margin-top: 14px;
		margin-left: 100%;
		left: -323px;
	}

	#pu5662-4
	{
		margin-right: -10000px;
		width: 63.76%;
		margin-left: 36.25%;
	}

	#u5662-4
	{
		z-index: 9;
		width: 115px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -298px;
	}

	#u5662-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 115px;
		left: -298px;
		margin: 0px -10000px 0px 100%;
	}

	#u5661-4
	{
		z-index: 13;
		width: 85px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -193px;
	}

	#u5661-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 85px;
		left: -193px;
		margin: 0px -10000px 0px 100%;
	}

	#u5663-4
	{
		z-index: 17;
		width: 89px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -90px;
	}

	#u5663-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 89px;
		left: -90px;
		margin: 0px -10000px 0px 100%;
	}

	#u5664
	{
		z-index: 21;
		width: 21px;
		position: relative;
		margin-right: -10000px;
		left: 495px;
	}

	#u5665
	{
		position: absolute;
		width: 21px;
		height: 21px;
	}

	#u5665.PamphletThumbSelected
	{
		width: 21px;
		height: 21px;
		min-height: 0px;
		margin: 0px;
	}

	#pu22992-6
	{
		margin-top: 107px;
		width: 100%;
	}

	#u22992-6
	{
		z-index: 36;
		min-height: 265px;
		background-color: #000000;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		color: #FFFFFF;
		text-align: center;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 69.64%;
		margin-left: 15.19%;
		left: 10px;
	}

	#u22992-2
	{
		font-size: 36px;
		line-height: 43px;
		padding-top: 60px;
	}

	#u22992-4
	{
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 3px;
		padding-top: 10px;
	}

	#u22994
	{
		z-index: 42;
		width: 141px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 168px;
		left: 51.82%;
	}

	#u22995-4
	{
		z-index: 43;
		width: 141px;
		min-height: 47px;
		color: #FFFFFF;
		line-height: 14px;
		text-align: center;
		font-size: 12px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
	}

	.NEW2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #FD3F40;
	}

	#u22995-2
	{
		padding-top: 13px;
	}

	#pu9399
	{
		margin-top: 161px;
		width: 100%;
	}

	#u9399
	{
		z-index: 23;
		width: 580px;
		min-height: 433px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 291px;
		left: 2%;
	}

	#u22991-9
	{
		z-index: 25;
		min-height: 79px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 2px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 56.73%;
		left: 40.91%;
	}

	#u22991-5
	{
		font-size: 1px;
		line-height: 0px;
	}

	#u23083
	{
		margin-top: 56px;
		margin-bottom: -56px;
	}

	#u23077
	{
		z-index: 34;
		width: 652px;
		min-height: 467px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u3323
	{
		z-index: 2;
		height: 874px;
	}

	#u3323-bw
	{
		z-index: 2;
		margin-top: 98px;
		height: 874px;
	}

	.html
	{
		background-color: #FFFFFF;
	}

	body
	{
		position: relative;
		padding-bottom: 852px;
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		min-height: 499.50000000000045px;
		background-image: none;
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
		padding-bottom: 0px;
		width: 100%;
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	#page_position_content
	{
		margin-top: -99px;
		margin-bottom: -686px;
		width: 100%;
	}

	#u21174
	{
		z-index: 24;
		width: 30px;
		min-height: 30px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		left: -7.5%;
	}

	#pu9341
	{
		margin-top: 69px;
		width: 100%;
	}

	#u9341
	{
		z-index: 3;
		min-height: 50px;
		background-color: #000000;
		padding-bottom: 12px;
	}

	#u9341_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		max-width: 320px;
	}

	#u5652
	{
		z-index: 4;
		width: 159px;
		height: 36px;
		position: relative;
		margin-right: -10000px;
		margin-top: 14px;
		left: 20px;
	}

	#u9341-bw
	{
		z-index: 3;
		min-height: 50px;
	}

	#pamphletu5653
	{
		z-index: 5;
		width: 0.01px;
		height: 21px;
		padding-bottom: 56px;
		position: relative;
		margin-right: -10000px;
		margin-top: 23px;
		margin-left: 100%;
		left: -320px;
	}

	#u5658
	{
		position: absolute;
		width: 320px;
		padding-bottom: 40px;
		top: 37px;
	}

	#u5658popup
	{
		z-index: 6;
	}

	#u5659
	{
		z-index: 7;
		width: 320px;
		height: 40px;
		position: fixed;
		top: 60px;
		left: 50%;
		margin-left: -160px;
	}

	#u5660
	{
		z-index: 8;
		width: 298px;
		position: relative;
		margin-right: -10000px;
		margin-top: 14px;
		left: 11px;
	}

	#pu5662-4
	{
		width: 0.01px;
		margin-right: -10000px;
	}

	#u5662-4
	{
		z-index: 9;
		width: 115px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
	}

	#u5662-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 115px;
		margin: 0px -10000px 0px 0px;
	}

	#u5661-4
	{
		z-index: 13;
		width: 85px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		left: 107px;
	}

	#u5661-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 85px;
		margin: 1px -10000px 0px 0px;
	}

	#u5663-4
	{
		z-index: 17;
		width: 89px;
		min-height: 7px;
		position: relative;
		margin-right: -10000px;
		left: 208px;
	}

	#u5663-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 7px;
		width: 89px;
		margin: 0px -10000px 0px 0px;
	}

	#u5664
	{
		z-index: 21;
		width: 21px;
		position: relative;
		margin-right: -10000px;
		left: 275px;
	}

	#u5665
	{
		position: absolute;
		width: 21px;
		height: 21px;
	}

	#u5665.PamphletThumbSelected
	{
		width: 21px;
		height: 21px;
		min-height: 0px;
		margin: 0px;
	}

	#pu22992-6
	{
		margin-top: 107px;
		width: 100%;
	}

	#u22992-6
	{
		z-index: 36;
		min-height: 265px;
		background-color: #000000;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		color: #FFFFFF;
		text-align: center;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 69.69%;
		margin-left: 15.16%;
		left: 11px;
	}

	#u22992-2
	{
		font-size: 36px;
		line-height: 43px;
		padding-top: 60px;
	}

	#u22992-4
	{
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 3px;
		padding-top: 10px;
	}

	#u22994
	{
		z-index: 42;
		width: 141px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 168px;
		left: 51.88%;
	}

	#u22995-4
	{
		z-index: 43;
		width: 141px;
		min-height: 47px;
		color: #FFFFFF;
		line-height: 14px;
		text-align: center;
		font-size: 12px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
	}

	.NEW2
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #FD3F40;
	}

	#u22995-2
	{
		padding-top: 13px;
	}

	#pu9399
	{
		margin-top: 161px;
		width: 100%;
	}

	#u9399
	{
		z-index: 23;
		width: 580px;
		min-height: 433px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		margin-top: 291px;
		left: 1.88%;
	}

	#u22991-9
	{
		z-index: 25;
		min-height: 79px;
		background-color: transparent;
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		letter-spacing: 2px;
		font-family: franklin-gothic-urw, sans-serif;
		font-weight: 400;
		position: relative;
		margin-right: -10000px;
		width: 56.57%;
		left: 40.94%;
	}

	#u22991-5
	{
		font-size: 1px;
		line-height: 0px;
	}

	#u23083
	{
		margin-top: 56px;
		margin-bottom: -56px;
	}

	#u23077
	{
		z-index: 34;
		width: 652px;
		min-height: 467px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u3323
	{
		z-index: 2;
		height: 687px;
	}

	#u3323-bw
	{
		z-index: 2;
		margin-top: 61px;
		height: 687px;
	}

	.html
	{
		background-color: #FFFFFF;
	}

	body
	{
		position: relative;
		min-width: 320px;
		padding-bottom: 672px;
	}
}


